<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-4.2.xsd">
    <http auto-config="true">
        <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
        <!-- access denied page -->
		<access-denied-handler error-page="/403" />

		
		   <form-login login-processing-url="/j_spring_security_check" 
		   login-page="/login" 
		   default-target-url="/"
            authentication-failure-url="/login?error"
             username-parameter="username"
            password-parameter="password" />
		<logout logout-success-url="/login?logout"  />
		<!-- enable csrf protection -->
		        <csrf disabled="true" />
    </http>
 
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="Admin" password="admin" authorities="ROLE_ADMIN" />
            </user-service>
            <jdbc-user-service data-source-ref="dataSource"
		  users-by-username-query=
		    "select username,password, enabled from userinfo where username=?"
		  authorities-by-username-query=
		    "select u1.username, u2.role from userinfo u1,userroles u2 where u1.userid=u2.userid and u1.username =?  " />
        </authentication-provider>
    </authentication-manager>
    </beans:beans>